@-webkit-keyframes sheen {
  50% {
    transform: translateY(-10%);
    color: #eee;
  }
}
@keyframes sheen {
  50% {
    transform: translateY(-10%);
    color: #eee;
  }
}



.wobble span {
  display: inline-block;
  pointer-events: none;
}

.wobble span.sheen {
  -webkit-animation: sheen 0.2s 1;
          animation: sheen 0.2s 1;
}

.card{
 height: 360px;
}